__pycache__/
*.py[cod]
*.class

.venv/
venv/
ENV/

.DS_Store
Thumbs.db

.vscode/
*.code-workspace
.idea/

training.log
*.log
.ipynb_checkpoints/

data/raw/
data/processed/
outputs/

build/
dist/
*.egg-info/

**/aug_examples/

*.tmp
*.swp
